h1, h2, h3 {
  margin-left: 20px;
  font-family: 'Roboto',sans-serif;
}

h1 {
  font-weight: 900;
  font-size: 3.5rem;
}

h1:focus {
  outline: -webkit-focus-ring-color auto 0px;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 0px;
}



.logo {
  margin-bottom: -10px;
  position: relative;
  align-content: center;
  margin-left: 30px;
  filter: drop-shadow(0 0 300px white);
  /*background-color: white;*/
}


h3 {
  margin-left: 45px;
  font-size: 1.6rem;
}
