<div class="container">
  <section class="content-header">
    <h1 class="logo" [routerLink]="['/']">Filenation</h1>
  </section>

  <section class="content">
      <p class="lead">
        Filenation.io | The simplest way to send files around the world.
      </p>
      <a href="https://alexsicart.com" target="_blank">
        <img class="u-max-full-width" id="img-circle" src="https://pbs.twimg.com/profile_images/909841669532667908/dAyNzhwX_400x400.jpg">
      </a>
      <p class="lead">
        <a href="https://youtu.be/sgy6D-45_vc" target="_blank">Cómo lograr la libertad online con el Internet descentralizado - TEDx Talk</a>
        <br />
        <a href="https://github.com/alexsicart/Filenation/blob/gh-pages/LICENSE" target="_blank">MIT license</a>
      </p>
  </section>
</div>
