.container {
  background-color: white;
  height: 350px;
  width: 350px;
  padding: 50px;
  margin-left: 7%;
  margin-top: 30%;
  border-radius: 25px;
}

a {
  color: black;

}

.logo {
  text-decoration: underline;
}

.logo:hover {
  filter: drop-shadow(0 0 10px white);
}

#img-circle {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border-style: solid;
    border-width: 3px;
    border-color: #8658c9;
}

@media all and (max-width: 620px) {

.container {
    width: 250px;
}

}
