<div class="container">
<section class="content-header">
  <h1 class="logo" [routerLink]="['/']">SnapCloud</h1>
  </section>

  <section class="content">
      <p class="lead">
          Decentralized Cloud | The simplest way to send your files around the world using IPFS.
      </p>
      <a href="https://ipfs.io/ipns/QmYwUnoEFYmLsxxj8aYGELK39ut2XYnUhw6vBF5tCMcczu"><img class="u-max-full-width" id="img-circle" src="https://pbs.twimg.com/profile_images/909841669532667908/dAyNzhwX_400x400.jpg"></a>
      <p class="lead">
        <a href="https://github.com/alexsicart/Decentralized-Cloud/blob/gh-pages/LICENSE">MIT license</a>
      </p>


</section>
</div>
