@keyframes popup {
  0% { opacity: 0;}
  100% { opacity: 1;}
}
* {
  font-family: 'Raleway Thin', sans-serif;
  font-weight: 100;
}
.container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  animation: popup 1s ease;
  background-color: white;
  height: 100%;
  width: 100vw;
  padding: 3vw;
}
.content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
}
a {
  color: black;
}
.lead {
  max-width: 70vw;
}
#img-circle {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border-style: solid;
    border-width: 3px;
    border-color: #8658c9;
}
/*some hard coded css, its a quick fix, but needs to be refactored*/

/*ipad*/
@media screen and (max-width: 768px) {
  .container {
    top: 30vh;
    left: 20vw;
    transform: scale(1.0);
  }
}
@media screen and (max-width: 1024px) {
  .container {
    top: 30vh;
    left: 25vw;
    transform: scale(1.0);
  }
}
/*nexus5x*/
@media screen and (max-width: 412px) {
  .container {
    top: 15vh;
    left: -5vw;
    transform: scale(0.75);
  }
}
/*galaxys5*/
@media screen and (max-width: 360px) {
  .container {
    top: 10vh;
    left: -12vw;
    transform: scale(0.75);
  }
}
/*iphone 6 and 6+*/
@media screen and (max-width: 414px) {
  .container {
    top: 15vh;
    left: -5vw;
    transform: scale(0.75);
  }
}
@media screen and (max-width: 375px) {
  .container {
    top: 15vh;
    left: -10vw;
    transform: scale(0.75);
  }
}
/*iphone5*/
@media screen and (max-width: 320px) {
  .container {
    top: 12vh;
    left: -20vw;
    transform: scale(0.65);
  }
}
