.wrapper {
  padding: 0px 15px 0px 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.newsfeed-title {
  text-align: center;
  font-family: sans-serif;
  font-size: 1.4em;
}

.newsfeed-body {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 300px;
}
