.container {
  display: flex;
  flex-direction: column;

}

label{
  display: inline-block;
}

label button{
  margin-top: 20px;
  margin-left: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}


input[type="file"]{
  position: absolute;
  top: 5px;
  left: 5px;
  text-align: right;
  outline: none;
  cursor: inherit;
}


#text {
  text-align: left;
  vertical-align: middle;
  font-size: 60px;
}


#file-input:hover {
  filter: drop-shadow(0 0 10px white);
}

.form-input {
  margin-left: 20px;
  margin-top: 10px;
}

.center {
overflow: auto;
height: 200px;

}

.send svg{
position: absolute;
bottom: 0;
left: 40%;
}
