$color-primary: #005b7a;
$color-black: mix(#212121, #005b7a, 85);
$color-primary-light: #168ccc;
$color-grey: #b5b5b5;
$color-background-light: mix(#fff, #005b7a, 80);
$color-white: #fff;

$font-family-primary: 'Slabo 27px', serif;
$font-family-secondary: 'Montserrat', sans-serif;

$font-size-small: 12px;
$font-size: 16px;
$font-size-medium: 1.2rem;
$font-size-big: 1.4rem;
$font-size-very-big: 2rem;

$padding-size: 2rem;
$border-radius: 10px;
