.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: white;
}
/*
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: black;
  align-self: flex-start;
}*/

h1 {
  font-size: 3em;
  color: black;
  padding-left: 5px;
  margin: 10px;
  font-family: 'Source Code Pro', sans-serif;
  font-weight: 600;
}

h2 {
  font-size: 1.0em;
  color: #ff4181 !important;
  margin: 10px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url('https://source.unsplash.com/user/erondu/1600x900');
  background-repeat: no-repeat;
  background-size: cover;
  /*box-sizing: border-box;*/
  /*margin-bottom: 10px;*/
}

.body-container {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spacer {
  width: 5%;
}
.feedback {
  margin: 10px;
}

.links {
  align-self: flex-end;
  margin-left: 25px;
  color: #005b7a;
  margin-right: 20px;
}
.donations {
  margin: 10px;
}

.base {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;
  padding-right: 5vw;
  padding-top: 5px;
  padding-bottom: 5px;
  border-width: thin;
  border-top-style: solid;
  z-index: 1000;
}
.base-buttons {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  margin-right: 2vw;
}
.about-button {
  text-align: center;
  font-size: 0.9em;
  padding: 6.6px;
  align: center;
  vertical-align: middle;
  color: rgb(255, 0, 145);
  background-color: white;
  border: solid;
  border-radius: 2px;
  width: 70px;
  box-shadow: 0px 1px 3px #888888;

}
.feedback {
  display: flex;
  flex-flow: row wrap;
}
.spacer {
  width:3vw;
  height: 3vw;
}
.title-bar {
  top:0;
  display: flex;
  position: sticky;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  background-color: #fff;
  border-width: thin;
  border-bottom-style: solid;
  z-index: 1000;
}
.title-bar-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  white-space: wrap;
  justify-content: center;
  margin-left: 10%;
  font-family: 'Raleway', sans-serif;
  font-size: 0.8em;
  /*border-width: thin;
  border-bottom-style: solid;*/
}
.title-bar-left-container {
  display: flex;
  align-items: center;
  margin-left: 5%;
}
.title-bar-theme-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border-style: dashed;
  height: 40px;
}
.title-bar-right-container {
  display: flex;
  align-items: center;
  margin-right: 10%;
}

@media screen and (max-width: 500px) {
  .spacer {
    width: 0vw;
    height: 0;
  }
  .title-bar-right-container {
    margin-right: 5vw;
  }
  .body-container {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .base-buttons {
    transform: scale(0.7);
  }
  .feedback {
    transform: scale(0.7);
  }
}
