<div class="container">

<div class="header">
  <h1>Decentralized Cloud</h1>

  <h2 style="color: #0099cc">The simplest way to send large files globally <br/>
      using the InterPlanetary File System.</h2>
</div>

  <div class="body">

    <div class="transferHolder">
        <app-transfer></app-transfer>
    </div>
    <div class="spacer"></div>
    <div class="infobar">
      <app-log-in></app-log-in>
      <div class="spacer"></div>
    </div>

  </div >
  <div class="base">
  <div class = "feedback">
  <a class="github-button" href="https://github.com/alexsicart/Decentralized-Cloud" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star alexsicart/Decentralized-Cloud on GitHub">Star</a>
  <a class="github-button" href="https://github.com/alexsicart/decentralized-cloud/issues" data-icon="octicon-issue-opened" data-size="large" data-show-count="true" aria-label="Issue alexsicart/decentralized-cloud on GitHub">Issue</a>
  </div>
    <!-- <app-test></app-test> -->
  <p class="links">About - Terms of Use - Contact</p>
</div>
</div>
