<div class="container">
  <div class="body">
    <div class="title-bar">
      <div class="title-bar-left-container">
        <div class="title-bar-logo">
          <img src="../assets/logo.png" id="title" alt="" style="height: 5vh; position: absolute;" />
        </div>
        <p id="title" class="title-bar-title">
          {{title}}
        </p>
      </div>
      <div class="title-bar-right-container">
        <div class="base-buttons">
          <h1 class="dot-color"></h1>
          <a href="https://github.com/FileNation/FileNation" target="_blank">
            <button mat-raised-button color="accent" class="download-button">{{about}}</button>
          </a>
          <div class="spacer"></div>
          <a href="https://www.buymeacoffee.com/lFjmLAnoV" target="_blank">
            <button mat-raised-button color="accent" class="download-button">Donate</button>
          </a>
          <div class="spacer"></div>
          <div id="social">
            <a href="https://twitter.com/FileNation_io" target="_blank">
              <i class="mdi mdi-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://medium.com/filenation" target="_blank">
              <i class="mdi mdi-medium" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="body-container">
      <router-outlet></router-outlet>
    </div>

  </div>
  <div class="body-2">
    <a href="https://medium.com/filenation">
      <img src="../assets/logo2.png" />
    </a>
    <h2 class="text-mobile"> Please take a look from your computer </h2>

  </div>
</div>
