<div class="container">
  <div class="body">
    <div class="title-bar">
      <div class="title-bar-left-container">
        <div class="title-bar-logo">
        <img src="../assets/logo.png" id="title" alt="" style="height: 5vh; position: absolute;"/>
        <!-- <img src="../assets/logo.png" alt="" style="height: 4vh; position: absolute;"/> -->
      </div>
      <p id="title" class="title-bar-title">
        FileNation.io
      </p>
    </div>
      <div class="title-bar-right-container">
    </div>
  </div>

  <div class="body-container">
    <router-outlet></router-outlet>
  </div>

  <div class="base">
  <div class="spacer"></div>
  <div class="base-buttons">
    <h1 class="dot-color"></h1>
      <a href="https://www.dropbox.com/sh/v9qq1huq9j0ftlh/AAC0zYL1IpJOYDhF2S8ZqWuJa?dl=0" class="about-twitter" target="_blank"><h1 class="about-button">About</h1></a>
    <h1 class="dot-color"></h1>
    <a href="https://twitter.com/Filenation_io" target="_blank"><img class="img-twitter" src="../assets/twitter.png" /></a>
    <div class="spacer"></div>
    <div class="spacer"></div>
  </div>
</div>
</div>

</div>
