.container {
  height: 100%;
  background-color: white;
  background-size: cover;
  background-position: center;
}

.container2 {
  height: 100vh;
  background-color: white;
}

p {
  font-family: 'Source Code Pro';
  font-size: 1.3em;
  display: inline;
}

.name {
  margin-top: 20%;
  margin-left: 20%;
  margin-right: 10%;
}
