.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
}
.sequencer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 9999;

  font-size: 20px;
}
@media screen and (max-width: 500px) {
  .container {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    padding-left: 40px;
    padding-right: 50px;
  }
}

.topHolder {
  height: 200px;
  width: 350px;
  background-color: white;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-upload {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.image-upload>input {
  border-radius: 5px;
  width: 100px;
  border: 1px solid #b5b5b5;
}

.progressBar,
.progressBarTitle {
  text-align: center;
  font-size: 1.7em;
  color: #005b7a;
  font-family: 'Raleway', sans-serif;
}

.selectedFile {
  text-align: center;
  font-size: 1em;
  color: blue;
  padding-left: 10px;
  padding-right: 10px;
  color: #005b7a;
  font-family: 'Raleway', sans-serif;
}


form {
  width: 350px !important;
  height: 100%;
  background-color: white;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 25px;
}

button {
  border-radius: 5px;
  width: 20%;
  margin: 15px;
}

.fileFeedback {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.changeButton {
  margin: auto;
  width: 105px;
  text-align: center;
}

.successMessage {
  display: flex;
  background-color: white;
  max-width: 500px;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border-radius: 25px;
}

.successButton {
  width: 150px;
  margin-top: 50px;
}

.fileName {
  border: 2px double #005b7a;
  border-radius: 5px;
  padding: 5px;
}

#text {
  text-align: left;
  vertical-align: middle;
  font-size: 1em;
}

h2 {
  color: #005b7a;
  font-family: 'Raleway', sans-serif;
}

#file-input {
  cursor: pointer;
  width: auto;
  margin-top: -15px;
}

#file-input:hover {
  filter: drop-shadow(0 0 10px white);
  cursor: pointer;
}

.center {
  overflow: auto;
}

.send svg {}

.example-form {
  width: auto;
}

.example-full-width {}

p {
  font-size: 1.5em;
}

.g-recaptcha {
  margin: 25px;
}

#addYourFiles {
  position: relative !important;
  margin-top: -4px !important;
}

input[type="file"] {
  -webkit-appearance: none;
  opacity: 0;
}

#uploadCircle {
  margin-top: 5em;
  cursor: pointer !important;
}

/*Spinner animation*/
@keyframes scaler {
  0% { width: 50px; height: 50px;}
  50% { width: 100px; height: 100px;}
  100% { width: 50px; height: 50px;}
}
@keyframes counterspin2 {
  0% { transform: rotate(0deg) scale(1.0); }
  10% { transform: rotate(0deg) scale(1.3); }
  20% { transform: rotate(90deg) scale(1.3); }
  30% { transform: rotate(90deg) scale(1.0); }
  40% { transform: rotate(0deg) scale(1.0); }
  50% { transform: rotate(0deg) scale(1.3); }
  60% { transform: rotate(45deg) scale(1.3); }
  70% { transform: rotate(45deg) scale(1.0); }
  80% { transform: rotate(0deg) scale(1.0); }
  90% { transform: rotate(0deg) scale(1.3); }
  100% { transform: rotate(0deg) scale(1.0); }
}

@keyframes spin2 {
  0% { transform: rotate(0deg) scale(1.0); }
  10% { transform: rotate(-90deg) scale(1.0); }
  20% { transform: rotate(-90deg) scale(1.3); }
  30% { transform: rotate(-45deg) scale(1.3); }
  40% { transform: rotate(0deg) scale(1.0); }
  50% { transform: rotate(0deg) scale(1.0); }
  60% { transform: rotate(0deg) scale(1.0); }
  70% { transform: rotate(45deg) scale(1.0); }
  80% { transform: rotate(90deg) scale(1.3); }
  90% { transform: rotate(45deg) scale(1.0); }
  100% { transform: rotate(0deg) scale(1.0); }
}
@keyframes fader {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeout {
  0% { opacity: 1;}
  100% { opacity: 0;}
}
.spinner-container {
  animation: fader linear 0.5s;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left:0;
  top:0;
}
.spinner-background {
  background-color: white;
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.spinner-container-out {
  opacity: 0;
  animation: fadeout linear 0.5s;
  background-color: white;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left:0;
  top:0;
}
.spinner-pos {
  left: 45%;
  top:42%;
  opacity: 1.0;
}
.spinner-anim1 {
  animation: spin2 5s ease infinite;
}
.spinner-anim2 {
  animation: counterspin2 5s ease infinite;
}
@media screen and (max-width: 626px) {
  .spinner-container {
    display: none;
  }
  .spinner-container-out {
    display: none;
  }
}
