.container {
  display: flex;
  flex-direction: column;
}
.transfer {
  background: #FFFFFF;
  position: absolute;
  height:500px;
  width: 300px;
  border-radius: 10px;
  top: 18%;
  left: 10%;
}
label{
  display: inline-block;
}

label button{
  margin-top: 20px;
  margin-left: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}


input[type="file"]{
  position: absolute;
  top: 5px;
  left: 5px;
  width: 108px;
  height: 130px;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}


/*.mat-fab {
position: relative;
margin: 30px;
width: 80px;
height: 80px;
}*/
#text {
  text-align: left;
  vertical-align: middle;
  font-size: 60px;
}

/*.image-upload svg {
position: absolute;
height: 4em;
width: 4em;
top: 10%;
display: block;
margin: 0 0.625em 0 1.25em;
user-select: none;
}*/

#file-input:hover {
  filter: drop-shadow(0 0 10px white);
}

.form-input {
  margin-left: 20px;
  margin-top: 10px;
}

.center {
  overflow: auto;
  height: 200px;

}

.send svg{
  position: absolute;
  bottom: 0;
  left: 40%;
}


.example-form {
  width: auto;
}

.example-full-width {
  width: 85%;
}

p {
  font-family: 'Source Code Pro';
  font-size: 1.5em;
  display: inline;
}
