.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  margin-left: 13%;
}
.sequencer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top:-15vh;
  width: 100vw;
  height: 100vh;
  z-index: 9999;

  font-size: 20px;
}

.mat-fab.mat-accent[_ngcontent-c3], .mat-mini-fab.mat-accent[_ngcontent-c3], .mat-raised-button.mat-accent[_ngcontent-c3], .mat-raised-button[_ngcontent-c3] .mat-primary[_ngcontent-c3] .mat-fab.mat-primary[_ngcontent-c3], .mat-mini-fab.mat-primary[_ngcontent-c3], .mat-raised-button.mat-primary[_ngcontent-c3]: hover {
  color: #008bcd !important;
  font-weight: 500 !important;
}
.mat-form-field {
    font-family: 'Josefin Sans', sans-serif !important;
}

.mat-fab.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent, .mat-raised-button .mat-primary .mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
  background-color: #168ccc !important;
}
@media screen and (max-width: 500px) {
  .container {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    padding-left: 40px;
    padding-right: 50px;
    margin-left: 0px !important;
  }
}

.topHolder {
  height: 470px;
  width: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-color: black;
  border-width: thin;
  border-radius: 10px;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.1), 0 10px 30px 0 rgba(0,0,0,0.2);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1),-webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.image-upload {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 10px !important;
}

.image-upload>input {
  border-radius: 5px;
  width: 100px;
  border: 1px solid #b5b5b5;
}

.progressBar,
.progressBarTitle {
  text-align: center;
  font-size: 1.7em;
  color: #168ccc;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 23px;
}

.selectedFile {
  text-align: center;
  font-size: 1em;
  color: blue;
  color: #005b7a;
  font-weight: 500;
  max-height: 70px;
  overflow: scroll;
}

.selectedFile .fileName2 {
  font-weight: 300;
  width: 20px;
}


form {
  height: 100%;
  background-color: white;
  border-radius: 0 0 3px 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 25px;
}

button {
  border-radius: 3px;
  width: 20%;
  margin: 15px;
  font-weight: 300;
}

.fileFeedback {
width: 100%;
display: -ms-flexbox;
display: flex;
-ms-flex-direction: column;
flex-direction: column;
margin-bottom: 22px;
}


.changeButton {
  margin: auto;
  width: 105px;
  text-align: center;
}

.successMessage {
  display: flex;
  background-color: white;
  max-width: 500px;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border-radius: 3px;
  border-color: black;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.1), 0 10px 30px 0 rgba(0,0,0,0.2);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1),-webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.successMessage h2 {
  font-weight: 400;
  font-size: 18px;
}

.successMessage .senderEmail {
  font-weight: 300;
}

.successButton {
  width: 150px;
}

.fileName {
  border: 1px double #005b7a;
  border-radius: 5px;
  padding: 10px 20px;
}

#text {
  text-align: left;
  vertical-align: middle;
  font-size: 1em;
}

h2 {
  color: #005b7a;
}

#file-input {
  cursor: pointer;
  width: auto;
  margin-top: -15px;
}

#file-input:hover {
  filter: drop-shadow(0 0 10px white);
  cursor: pointer;
}

.center {
  overflow: auto;
}

.send svg {}

.example-form {
  width: auto;
}

.example-full-width {}

p {
  font-size: 1.5em;
}

.spinner-margin {
  margin-bottom: 15px;
}

.g-recaptcha {
  margin: 25px;
}

#addYourFiles {
  position: relative !important;
  margin-top: 21px !important;
  font-weight: 300;
}

input[type="file"] {
  -webkit-appearance: none;
  opacity: 0;
}

#uploadCircle {
  cursor: pointer !important;
  z-index: 1000;
}

#upload-img {
  height: 19px;
  weight: 7px;
}

/*Spinner animation*/
@keyframes scaler {
  0% { width: 50px; height: 50px;}
  50% { width: 100px; height: 100px;}
  100% { width: 50px; height: 50px;}
}
@keyframes counterspin2 {
  0% { transform: rotate(0deg) scale(1.0); }
  10% { transform: rotate(0deg) scale(1.3); }
  20% { transform: rotate(90deg) scale(1.3); }
  30% { transform: rotate(90deg) scale(1.0); }
  40% { transform: rotate(0deg) scale(1.0); }
  50% { transform: rotate(0deg) scale(1.3); }
  60% { transform: rotate(45deg) scale(1.3); }
  70% { transform: rotate(45deg) scale(1.0); }
  80% { transform: rotate(0deg) scale(1.0); }
  90% { transform: rotate(0deg) scale(1.3); }
  100% { transform: rotate(0deg) scale(1.0); }
}

@keyframes spin2 {
  0% { transform: rotate(0deg) scale(1.0); }
  10% { transform: rotate(-90deg) scale(1.0); }
  20% { transform: rotate(-90deg) scale(1.3); }
  30% { transform: rotate(-45deg) scale(1.3); }
  40% { transform: rotate(0deg) scale(1.0); }
  50% { transform: rotate(0deg) scale(1.0); }
  60% { transform: rotate(0deg) scale(1.0); }
  70% { transform: rotate(45deg) scale(1.0); }
  80% { transform: rotate(90deg) scale(1.3); }
  90% { transform: rotate(45deg) scale(1.0); }
  100% { transform: rotate(0deg) scale(1.0); }
}
@keyframes fader {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeout {
  0% { opacity: 1;}
  100% { opacity: 0;}
}
.spinner-container {
  animation: fader linear 0.5s;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left:0;
  top:0;
}
.spinner-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.spinner-container-out {
  opacity: 0;
  animation: fadeout linear 0.5s;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left:0;
  top:0;
}
.spinner-pos {
  left: 42%;
  top:42%;
  opacity: 1.0;
  filter: drop-shadow(0 0 80px white);
}
.spinner-anim1 {
  animation: spin2 5s ease infinite;
}
.spinner-anim2 {
  animation: counterspin2 5s ease infinite;
}
@media screen and (max-width: 626px) {
  .spinner-container {
    display: none;
  }
  .spinner-container-out {
    display: none;
  }
}
