<div *ngIf="this.option == true">
  <h2>Decentralized Cloud enables users to quickly and easily transfer large files of any format.</h2>
  <br><br>
  <p>Simply select a file, input the destination and source email, and hit send.</p>
  <!-- <h4>For additional features, sign-in or create a free account below</h4> -->
  <br><br><br>
  <p>Created by <a href="https://alexsicart.com/">Alex Sicart</a>. Forbes 30 Under 30 Technology.</p>
  <br>
  <p>Contributors: Christopher Hardman, Eddy Freddy & Eric Alcaide.</p>
  <br><br><br><br>
  <p class="donations"><a class="mat-raised-button mat-accent" href="https://www.paypal.me/alexsicart">Donate</a></p>
</div>


<!-- <div class="buttonHolder" *ngIf="this.option == true" >
<button (click)="buttonClick2()"> Sign-up</button> <button (click)="buttonClick1()"> Log-in</button>
<button (click)="buttonClick1()"> Log-in</button> <button (click)="buttonClick2()"> Sign-up</button>
</div>

<div class="loginHolder" *ngIf="this.login == true" >
<h2> Log-in to Decentralized Cloud</h2>
<input type="text" placeholder="email">
<input type="text" placeholder="password">
<button class="loginButton" (click)="onSignin()"> Submit </button>
<p>Don't have an account already? Sign-up <button class="transferButton"(click)="buttonClick2()">here</button>  </p>
</div>

<div class="signupHolder" *ngIf="this.signup == true">
  <h2> Sign-up to Decentralized Cloud</h2>
<input type="text" placeholder="email">
<input type="text" placeholder="confirm email">
<input type="text" placeholder="password">

<button class="signupButton" (click)="onSignup()"> Submit </button>
<p>Already have an account? Sign-in <button class="transferButton"(click)="buttonClick1()">here</button></p>
</div>

<div class="loggedinHolder" *ngIf="this.loggedin === true">
  <app-account></app-account>
</div> -->
