<div *ngIf="this.option == true">
<div *ngIf="this.option == true">
  <br><br>
  <img class="log-img" src="https://source.unsplash.com/user/erondu/" />
</div>


<div class="buttonHolder" *ngIf="this.option == true" >
<button (click)="buttonClick2()"> Sign-up</button> <button (click)="buttonClick1()"> Log-in</button>
<button (click)="buttonClick1()"> Log-in</button> <button (click)="buttonClick2()"> Sign-up</button>
</div>

<div class="loginHolder" *ngIf="this.login == true" >
<h2> Log-in to SnapCloud</h2>
<input type="text" placeholder="email">
<input type="text" placeholder="password">
<button class="loginButton" (click)="onSignin()"> Submit </button>
<p>Don't have an account already? Sign-up <button class="transferButton"(click)="buttonClick2()">here</button>  </p>
</div>

<div class="signupHolder" *ngIf="this.signup == true">
<h2> Sign-up to SnapCloud</h2>
<input type="text" placeholder="email">
<input type="text" placeholder="confirm email">
<input type="text" placeholder="password">

<button class="signupButton" (click)="onSignup()"> Submit </button>
<p>Already have an account? Sign-in <button class="transferButton"(click)="buttonClick1()">here</button></p>
</div>

<div class="loggedinHolder" *ngIf="this.loggedin === true">
<app-account></app-account>
</div>
</div>
