.buttonHolder {
  width: 100%;
  display: flex;
}

button {
  width: 60%;
  height: 100%;
  border-radius: 5px;
  margin: 10px;
  color: white;
  background-color: #0099cc;
  border: none;
}

input {
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #0099cc;
}

.loginHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signupHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2, h3, h4, p {
  font-family: 'Source Code Pro';
  display: inline;
  background-color: rgba(255,255,255,.7);
}

p {
  font-size: 1.1em;
}


.loginButton {
  width: 33%;
}

.signupButton {
  width: 33%;
}

.transferButton {
  width: 15%;
  margin: 1px;
}

.donations{
  margin-left:37%;
}

.donations > a{
  padding: 10px;
  color: white;
  border: none;
  border-radius: 10px;
}

.log-img {
  max-width: 100%;
  max-height: 45vh;
  flex-direction: column;

}
.image-center {
  margin-left: 25%;
}
