<div *ngIf="this.option == true">
  <h2 style="margin:10px">Decentralized Cloud enables users to quickly and easily transfer large files of any format</h2>
  <h3>Simply select a file, input the destination and source email, and hit send</h3>
  <h4>For additional features, sign-in or create a free account below</h4>
</div>


<div class="buttonHolder" *ngIf="this.option == true" >
<button (click)="buttonClick1()"> Sign-up</button> <button (click)="buttonClick2()"> Log-in</button>
</div>

<div class="loginHolder" *ngIf="this.login == true" >
<h2> Log-in to Decentralized Cloud</h2>
<input type="text">
<input type="text">
<button class="loginButton"> Submit </button>
<p>Don't have an account already? Sign-up <button class="transferButton"(click)="buttonClick2()">here</button>  </p>
</div>

<div class="signupHolder" *ngIf="this.signup == true">
  <h2> Sign-up to Decentralized Cloud</h2>
<input type="text">
<input type="text">
<input type="text">
<input type="text">
<input type="text">
<input type="text">
<button class="signupButton"> Submit </button>
<p>Already have an account? Sign-in <button class="transferButton"(click)="buttonClick1()">here</button></p>
</div>
