.transferHolder {
  width: 50%;
  max-width: 500px;
  height: 100%;
  border-radius: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 400px;
  align-items: center;
  margin-left: 150px !important;
}


@media all and (max-width: 880px) {

.header {
  flex-direction: column;
  align-items: center;
  justify-content:
}


}

@media all and (max-width: 820px) {

.container {
  width: 100%;
  height: 100%;
}

.body{
  flex-wrap: wrap;
  background-color: white;
  border-bottom: none;
}

h2 {
  text-align: center;
}

.transferHolder {
  order: 1;
  background-color: white;
}

.infobar {
  width: 90%;
  order: 2;
  /*border: 2px solid #0099cc;*/
  background-color: white;

}

.spacer {
  display: none;
}

.base {
  order: 3;
}

.feedback {
  display: none;
}

.github-button{
  display: none;
}

.label {
  display: none;
}
img {
  visibility: hidden;
}

}
