
  <section class="content-header">
  </section>



    <div style="width: 100%; overflow: hidden;">
        <div style="width: 600px; float: left;">
            <div class="transferHolder">
              <app-transfer></app-transfer>
            </div>
          </div>
          <div class="spacer"></div>
        <div style="margin-left: 620px;"> 
            <div class="infobar">
              <app-log-in></app-log-in>
              <div class="spacer"></div>
            </div>
            
          </div>
    </div>

  




       
      
      
        
