
.transferHolder {
  /*width: 50%;*/
  /*height: 100%;*/
  border-radius: 5px;
  margin: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 400px;
  align-items: center;
  /*margin-left: 150px !important;*/
}

.file-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
}
@media screen and (max-width: 500px) {
  .transferHolder {
    transform: scale(0.75);
    margin: 0;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .file-box {
    justify-content: flex-start;
  }
}
