.account {
  display: flex;
  flex-direction: column;

  width: 50vw;
  max-width: 500px;
  height: 70vh;
  border-radius: 5px;
  margin: 10px;
  border: 2px solid #FF69B4;
}

.username{
  color: #FF69B4;
  font-weight: 400;
}
.navbar {
  display: flex;
  background-color: #f0eeec;
  height: 8%;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  -webkit-box-shadow:0px 1px 1px grey;
  -moz-box-shadow:0px 1px 1px grey;
  box-shadow:0px 1px 1px grey;
}
.files {

}
button {
  /*width: %;*/
  height: 60%;
  /*margin-right: 2px;*/
  border-radius: 5px;
  margin: 5px;
  color: white;
  background-color: #FF69B4;
  border: none;
}
