<div class="account">
  <div class="navbar">

    <div class="files">
      <button (click)="onFiles()">Files</button>
    </div>
    <div class="contacts">
      <button (click)="onContacts()">Contacts</button>
    </div>
    <div class="username">
      <div id="greet">
        hello, <br />
      </div>
      <div id="text">
        {{this.user.split('@')[0]}}
      </div>
    </div>
  </div>
  <div *ngIf="this.filePage === true" >
    <div *ngFor="let file of this.files">

      {{file}}

    </div>
    accounts works!
  </div>
  <div *ngIf="this.contactsPage === true">

  </div>

</div>
